:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-text-color: #2196f3;
  --white-color: #fff;
  --black-color: #000;
  --background-color-section: #f5f4fa;
  --background-color-footer: #2f303a;
}

/* Класи для скидування */
.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}

body {
  color: var(--primary-text-color);
  background-color: var(--white-color);

  font-family: Roboto, sans-serif;
}
/* Логотип */
.logo {
  color: var(--accent-text-color);

  font-family: Raleway, sans-serif;
  font-weight: 700px;
  font-size: 26px;
  line-height: 1.19;
}
.black-accent {
  color: var(--black-color);
}
.white-accent {
  color: var(--white-color);
}

/* Навигация сайту */
.site-nav,
.contacts-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav a {
  color: var(--secondary-text-color);
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-text-color);
}
/* Секция контактів */
.contacts-nav a {
  color: inherit;
}
.contacts-nav a:hover,
.contacts-nav a:focus {
  color: var(--accent-text-color);
}
/* Герой */
.main-title {
  color: var(--white-color);
  background-color: var(--background-color-footer);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.main-btn {
  color: var(--white-color);
  background-color: var(--accent-text-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  cursor: pointer;
}
/* Cекція переваг компанії */
.benefits-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.benefits-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*Чим займається компанія */
.section-title {
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.image img {
  width: 370px;
  height: 294px;
}
/*   Представлення команди */
.representation-section {
  background-color: var(--background-color-section);
}
.representation-cards {
  background-color: var(--white-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.representation-cards h3 {
  color: var(--secondary-text-color);
  font-weight: 500;
}
.representation-cards p {
  color: var(--primary-text-color);
}

.representation-cards img {
  width: 270px;
  height: 260px;
}

/* Футер */
.footer-section {
  background-color: var(--background-color-footer);
}
.adress-section {
  font-style: normal;
}
.adress-section p {
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.adress-section .link {
  font-weight: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* Портфолио */

.list button {
  background-color: var(--background-color-section);
  color: var(--secondary-text-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  cursor: pointer;
}
.list button:hover,
.list button:focus {
  background-color: var(--accent-text-color);
  color: var(--white-color);
}
.cards-section img {
  width: 370px;
  height: 294px;
}
.cards-section h2 {
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.cards-section p {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
